<template>
  <v-app light>

    <v-layout row wrap>
      <v-flex xs6 offset-xs3>
        <v-flex xs12 class="centered mt-5">
          <h1>Word Scrambler</h1>
        </v-flex>
        <v-flex xs6 offset-xs3 mt-5>
          <v-form>
            <v-card dark>
              <v-card-title>
                <h3>Enter your sentence and see it scrambled!</h3>
              </v-card-title>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="givenSentence"
                    label="Your Word Here"
                    required
                  />
                </v-form>
              </v-card-text>
              <v-card-actions class="centeredButton">
                <v-btn
                  success
                  class="mb-3"
                  @click="scrambleWord"
                >Scramble!</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-flex>
        <v-flex 
          xs6 offset-xs3>
          <div>
            <v-card dark class="mt-5">
              <v-card-title>
                <h5>Scrambled Sentences</h5>
              </v-card-title>
              <v-card-text>
                <div
                  v-for="(sentence, index) in scrambledSentences"
                  :key="index"
                >
                {{ sentence }}
                </div>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        scrambledSentences: [],
        title: 'Word Scrambler',
        givenSentence: '',
      }
    },
    methods: {
      scrambleWord () {
        this.scrambledSentences = []
        let numberOfScrambles = 5
        for (let i = 0; i < numberOfScrambles; i++) {
          this.scrambledSentences.push(this.shuffle(this.givenSentence))
        }
      },
      shuffle (word) {
        let a = word.split("")
        let n = a.length

        for(var i = n - 1; i > 0; i--) {
            let j = Math.floor(Math.random() * (i + 1))
            let tmp = a[i]
            a[i] = a[j]
            a[j] = tmp
        }
        return a.join("");
      }
    }
  }
</script>

<style scoped>

.centered {
  text-align: center;
}

.centeredButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
